<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<config>
		<add key="DefaultPushSource" value="http://iltestdata6:4123/nuget" />
	</config>
	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
		<add key="lsports" value="http://lsportsnuget:4123/nuget" />
	</packageSources>
	<apikeys>
		<add key="http://lsportsnuget:4123/nuget" value="12345" />
	</apikeys>
	<activePackageSource>
		<add key="All" value="(Aggregate source)" />
	</activePackageSource>
	<disabledPackageSources>
		<add key="Microsoft and .NET" value="true" />
	</disabledPackageSources>
</configuration>