<log4net>
	<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
		<threshold value="Info" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="[%date{dd/MM/yyyy HH:mm:ss.ffff}] [%level] [%logger] [%thread] %message%newline" />
		</layout>
		<file value="Logs/%property{ServiceName}.log" type="log4net.Util.PatternString" />
		<appendToFile value="true" />
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		<maximumFileSize value="5MB" />
		<staticLogFileName value="true" />
		<maxSizeRollBackups value="50" />
		<rollingStyle value="Size" />
		<PreserveLogFileNameExtension value="true" />
	</appender>
	<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="[%date] [%thread] [%-5level] [%logger] - %message%newline" />
		</layout>
	</appender>
	<root>
		<level value="ALL" />
		<appender-ref ref="RollingLogFileAppender"/>
		<appender-ref ref="ConsoleAppender"/>
	</root>
</log4net>